// ----------------------------------------------
// Background Style
// ----------------------------------------------

.radial-gradient {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        background: radial-gradient(
            rgb(241, 229, 210),
            rgb(250, 223, 211),
            rgb(244, 186, 186) 0% 0% / 400% 400%
        );
        animation: 15s ease 0s infinite normal none running gradient;
    }
}
